<!DOCTYPE html>
<html>
<head>
    <title>HMBC Spiritual Gifts Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <!-- Background -->
    <div style="
        background-image: url('{{ url_for('static', filename='background.png') }}');
        background-size: cover;
        background-position: center;
        opacity: 0.15;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: -1;
    "></div>

    <!-- Content wrapper -->
    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>
