{% extends "base.html" %}

{% block content %}

<!-- PROGRESS BAR -->
<div style="width: 100%; background: #eee; height: 12px; border-radius: 6px; margin-bottom: 20px;">
    <div style="
        width: {{ ((q_number / total) * 100) | round(0) ~ '%' }};
        background: #4CAF50;
        height: 100%;
        border-radius: 6px;">
    </div>
</div>

<p class="question-number">Question {{ q_number }} of {{ total }}</p>

<p class="question-text">{{ question }}</p>

<div class="center">

    <form method="post">
    <button class="answer-button" name="value" value="1">1</button>
    <button class="answer-button" name="value" value="2">2</button>
    <button class="answer-button" name="value" value="3">3</button>
    </form>

</div>

{% endblock %}

